@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cálculo Dívida</h1>

    @Html.Partial("Upload")

    <a type="button" class="btn btn-primary">Exportar</a>
</div>
